<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.denunciaty.denunciaty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".MisReportesActivity"></activity>
        <activity
            android:name=".AccesoActivity"
            android:label="@string/app_name"
            android:theme="@style/NoaActionBarTheme"></activity>
        <activity
            android:name=".RegistroActivity"
            android:label="@string/app_name"
            android:theme="@style/NoaActionBarTheme"></activity>
        <activity
            android:name=".AddReporteActivity"
            android:label="@string/title_activity_add_reporte"></activity>
        <activity android:name=".PrincipalActivity"
            android:label="@string/app_name"
            android:theme="@style/NoaActionBarTheme"
            />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2b811bcaca5f56c4dd163071818596afca25eab8" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
